/node_modules
/public/hot
/public/storage
/public/lampirans
/public/sarpen-gambar
/public/sarpen-sirkulir
/public/ttd
/public/pdf
/storage/*.key
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
